@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap');
*{
    margin:0;
    padding:0;
     font-family: "Roboto Condensed", sans-serif;
`}

.container{
    width: 360px;
    height: 500px;
     background-color: aqua;
     border-radius: 10px;
}
body{
    background-color: orange;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}
h1{
    text-align: center;
    margin-top: 10px;
    font-size: 26px;
}
form{
    width: 300px;
    margin-left: 20px;
}
label{
    display: block;
    margin-top: 15px;
    font-size: 20px;
}

input[type="text"]{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid red;
    border-radius: 5px;
}
input[type="radio"]+label{
    display: inline;
    font-size: 16px;

}
select{
    margin-bottom: 10px;
    padding: 2px;
    width: 50px;
}
button{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(241, 15, 237, 0.868);
    cursor: pointer;
    font-size: 15px;
}
button:hover{
     background-color: rgb(19, 4, 4);
    color: aqua;
}
p{
    text-align: center;
    margin-top: 10px;
}

